{% extends 'layout.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="intro">
                <h1>{{ intro }}</h1>
            </section> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">         
            <section class="articles">
                <h4>Latest Blogs</h4>
                <div class="row">
                    {% for article in articles %}
                        {% if loop.index == 1 %}
                        <div class="col-md-12">
                        {% else %}
                        <div class="col-md-6">
                        {% endif %}
                            <div class="preview mb-3">
                                <a href="/view/{{ article['$'].id }}">
                                    <div class="overlay"></div>
                                    <img src="{{ article.image }}" alt="{{ article.title }}" class="img-fluid preview-img">
                                    <div class="preview-text">
                                        <h4 class="preview-title">{{ article.title }}</h4>
                                        <div><small><strong>Date: {{ article.date }}</strong></small></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="col-md-4">         
            <section class="articles">
                <h4>Latest Tips</h4>
                {% for tip in tips %}
                <div class="preview mb-3">
                    <a href="/view-tip/{{ tip['$'].id }}">
                        <div class="overlay"></div>
                        <img src="{{ tip.image }}" alt="{{ tip.title }}" class="img-fluid preview-img">
                        <div class="preview-text">
                            <h4 class="preview-title">{{ tip.title }}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
{% endblock %}