{% extends 'layout.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section class="intro">
                <h1>Shop Online</h1>
                <p>The Travel Shop is where you can find the necessary items for your travels, We design these products to 
                make your adventures easier and lighter when you are traveling. </p>
            </section>          
            <section class="articles">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width:20%">Image</th>
                            <th style="width:50%">Item</th>
                            <th style="width:15%">Price</th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td><img src="{{ product.image }}" alt="{{ product.title }}" class="image-fluid image-product"></td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.price }}</td>
                        <td><button class="btn btn-sm btn-primary add-to-cart" data-product-title="{{ product.title }}" data-product-price="{{ product.price }}">Add to cart</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        <div class="col-md-4">
            {% include 'cart.twig' %}
        </div>
    </div>
</div>
{% endblock %}